body
{
    background-color: rgb(102, 82, 68);
    color: rgb(23, 182, 182);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor
{
    background-color:rgb(48, 177, 134);
    color: black;
    text-align: center;
    width: 260px;
}
button
{
    background-color: rgb(105, 14, 190);
    color: rgb(82, 20, 141);
}
button:hover
{
    background-color: rgb(19, 167, 172);
    color: rgb(72, 119, 206);
}